@charset "utf-8";
html{
	position: relative;
	padding-bottom:100px;
	box-sizing: border-box;
	height: auto;
	overflow-x: hidden;
	font-size: 12px;
	font-family: 'Nanum Gothic', sans-serif;
	min-height: 100%;
}

h2{
	font-size: 15px;
	font-family: 'Jeju Gothic', sans-serif; 
}

h3{
	font-size: 14px;
	display: inline-block;
	font-family: 'Jeju Gothic', sans-serif; 
}

h4{
	font-size: 19px;
	font-family: 'Jeju Gothic', sans-serif; 
}

h5{
	font-size: 11px;
	display: inline-block;
	font-family: 'Jeju Gothic', sans-serif; 
}

p{
	line-height: 17px;
}

.big_font{
	font-size: 15px;
}

.nomal_font02{
	font-size: 13px;
}

.normal_font{
	font-size: 12px;
}

.small_font{
	font-size: 11px;
}

.main_active{
	color: #a61e23;
	font-size: 15px;
	line-height: 10px;
}

button{
	border-radius: 5px;
	outline: none;
	border:0;
	background-color:#1c446d;
	color: #fff;
	font-size: 12px;
	height: 25px;
	line-height: 26px;
	cursor: pointer;
}


textarea{
	overflow-y: auto;
	resize: none;
	padding:10px;
	box-sizing: border-box;
	outline: none;
	border:1px solid #ededed;
}

.ad img{
	width: 100%;
}


/*header css*/
	header{
		width: 1280px;
		padding:10px 0 20px;
		box-sizing: border-box;
		margin:0 auto;
	}

	header .ad{
		width: 250px;
		display: inline-block;
	}

	header h1{
		height: 100%;
		display: inline-block; 
		margin-right: 0.5%;
	}

	header h1 img{
		width: 130px;
		float: left;
		margin-right: 5px;
		cursor:pointer;
	}

/*nav css*/
	nav{
		display: inline-block;
	}

	nav li{
		float: left;
		text-align: center;
		box-sizing: border-box;
		color: #5d5d5d;
		font-family:'Jeju Gothic', sans-serif; 
		cursor: pointer;
	}

	nav li:nth-child(2n){
		width: 40px;
	}

/*head_search css*/
	.head_search{
		width: 270px;
		box-sizing: border-box;
		border:2px solid #1c446d;
		float: right;
		margin-top: 19px;
	}

	.head_search input{
		width: 90%;
		height: 24px;
		border:0;
		outline: none;
		padding: 5px;
		box-sizing: border-box;
	}

	.head_search img{
		width: 10%;
		float: right;
	}

	.head_search input::-webkit-search-cancel-button{
		-webkit-appearance: none;
		appearance:none;
		width: 15px;
		height: 15px;
		background:url(../images/head_clear.png) no-repeat;
		background-size: 15px;
	}

	.head_search input::-ms-clear{
		-webkit-appearance: none;
		appearance:none;
		width: 15px;
		height: 15px;
		background:url(../images/head_clear.png) no-repeat;
		background-size: 15px;
	}

/*login css*/
	.login{
		width: 100%;
		height: 30px;
		background-color: #1c446d;
		margin-bottom: 60px;
	}

	.login_cont{
		width: 1280px;
		height: 30px;
		margin:0 auto;
	}

/*login_noice css*/
	.login_noice{
		width: 500px;
		height: 30px;
		float: left;
	}

	.login_noice h5{
		width: 40px;
		height: 20px;
		background-color: #a61e23;
		text-align: center;
		line-height: 21px;
		color: #fff;
		border-radius: 5px;
		margin:5px 10px 5px 0;
		float: left;
		font-family: 'Jeju Gothic', sans-serif;
	}

	.login_noice .bx-wrapper{
		width: 450px;
		height: 30px;
		float: left;
	}

	.login_noice .bx-viewport{
		width: 420px !important;
		float: left;
	}

	.login_noice .bx-viewport li{
		height: 30px;
		line-height: 27px;
		color: #fff;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow:hidden;
		cursor: pointer;
	}

	.login_noice .bx-controls{
		width: 30px;
		height: 30px;
		float: right;
		text-align: center;
		line-height: 25px;
	}

	.login_noice .bx-default-pager{
		display: none;
	}

	.login_noice .bx-prev{
		color: #fff;
		line-height: 30px;
	}

	.login_noice .bx-next{
		display: none;
	}

/*login_list css*/
	.login_list{
		height: 30px;
		float: right;
		color: #fff;
		font-family:'Jeju Gothic', sans-serif; 
	}

	.login_list li{
		height: 30px;
		line-height: 33px;
		float: left;
		text-align: center;
		letter-spacing: 1px;
	}

	.login_list li.enter{
		display: none;
	}

	.login_list li:nth-child(2n){
		margin:0 15px;
	}

	.login_list li img{
		width: 20px;
		height: 20px;
		margin-right: 5px;
		margin:5px 5px 5px 0;
		float: left;
	}

	.login_list li figcaption{
		display: inline-block;
	}

/*ad css*/
	.ad img{
		width: 100%;
	}

/*ham css*/
	.ham{
		width: 350px;
		position: absolute;
		top: 0;
		bottom: 0;
		right:-320px;
		z-index: 500;
	}

	.ham > img{
		width: 30px;
		margin-top: 175px;
		cursor: pointer;
	}
	
/*ham_cont css*/
	.ham_cont{
		width: 320px;
		height: 100%;
		float: right;
		border-left:1px solid #ededed;
		box-sizing: border-box;
		background-color: #fff;
	}

	.ham_cont h2{
		background-color: #1c446d;
		color: #fff;
		padding:5%;
		box-sizing: border-box;
		text-align: center;
		margin-bottom: 30px;
	}

	.ham_cont div{
		width: 90%;
		margin:0 auto 10%; 
		padding:5%;
		box-sizing: border-box;
		border:1px solid #ededed;
		text-align: center;
	}

	.ham_cont div h3{
		margin-bottom:20px;
	}

/*ham_login*/
	.ham_login ul{
		width: 90%;
		margin:0 auto;
	}

	.ham_login ul li{
		width: 100%;
		height: 40px;
		padding:0 3%;
		box-sizing: border-box;
		line-height: 45px;
		margin-bottom: 3%;
		border-radius: 10px;
		color:#fff;	
		font-family: 'Jeju Gothic', sans-serif;
	}

	.ham_login figure{
		width: 80%;
		float: left;
	}

	.ham_login figure img{
		width:40px;
		float: left;
		margin-right: 1.5%;
	}

	.ham_login span{
		width: 30px;
		height: 30px;
		display: inline-block;
		float: right;
		margin-top:5px;
	}

	.ham_login span img{
		width: 100%;
	}

/*ham_info*/
	.ham_info span{
		width:90%;
		display: inline-block;
		text-align: right;
		margin:0 5%;
	}
	.ham_info table{
		width: 90%;
		margin:15px auto 20px;
	}

	.ham_info th,
	.ham_info td{
		padding:10px;
		text-align: center;
		border:1px solid #ededed;
		vertical-align: middle;
	}

	.ham_info th{
		width: 35%;
		background-color: #f0f3f7;
		font-family: 'Jeju Gothic', sans-serif;
	}

	.ham_info figure{
		height: 25px;
		display: inline-block;
	}

	.ham_info img{
		width: 25px;
		margin-right: 5px;
		float: left;
	}

	.ham_info figcaption{
		display: inline-block;
		height: 25px;
		line-height: 25px;
	}

	.ham_info ul{
		width: 90%;
		margin: 0 auto;
	}

	.ham_info button{
		width: 49%;
		margin-right: 2%;
		float: left;
		font-family: 'Jeju Gothic', sans-serif;
	}

	.ham_info li:last-child button{
		margin-right: 0;
	}

/*ham_out*/
	.ham_out img{
		margin-bottom: 20px;
	}

	.ham_out button{
		width: 90%;
		margin: 0 5%;
	}

/*메인메뉴 선택 css*/
	nav .menu_check{
 		/*border-bottom:5px solid #1c446d;*/
 		font-weight: bold;
 		color: #1c446d;
 	}

/*footer css*/
	footer{
		width: 100%;
		height: 100px;
		position: absolute;
		bottom: 0;
		background-color: #f7f7f7;
	}

	.footer{
		width: 1280px;
		height: 46px;
		margin: 27px auto;
	}

	.footer h1{
		width: 120px;
		margin-right: 15px;
		float: left;
	}

	.footer h1 img{
		width: 100%;
	}

	.footer ul{
		width: 1095px;
		height: 23px;
		line-height: 23px;
		float: left;
	}

	.footer ul li{
		float: left;
	}

	.footer ul li:nth-child(2n){
		width: 80px;
		text-align: center;
	}

	.footer p{
		width: 1095px;
		height: 23px;
		line-height: 23px;
		font-weight: bold;
	}

	.footer p span{
		float: right;
		font-weight: bold;
		font-family: 'Jeju Gothic', sans-serif;
	}