@charset "utf-8";
html{
	position: relative;
	padding-bottom:100px;
	box-sizing: border-box;
	height: auto;
	
	font-size: 12px;
	font-family: 'Nanum Gothic', sans-serif;
	min-height: 100%;
	
}

/*body{
    overflow-x: auto;
    overflow-y: auto;
}*/

/* body,th,td,input,select,textarea,button {line-height:1.5}  */

h2{
	font-size: 15px;
	font-family: 'Jeju Gothic', sans-serif; 
}

h3{
	font-size: 14px;
	display: inline-block;
	/* font-family: 'Jeju Gothic', sans-serif;  */
}

h4{
	font-size: 19px;
	font-family: 'Jeju Gothic', sans-serif; 
}

h5{
	font-size: 11px;
	display: inline-block;
	font-family: 'Jeju Gothic', sans-serif; 
}

p{
	/*line-height: 17px;*/
}

.big_font{
	font-size: 15px;
}

.nomal_font02{
	font-size: 13px;
	line-height: 18px;
}

.normal_font{
	font-size: 12px;
}

.small_font{
	font-size: 11px;
}

.main_active{
	color: #a61e23;
	font-size: 15px;
	line-height: 10px;
}

button{
	border-radius: 5px;
	outline: none;
	border:0;
	background-color:#1c446d;
	color: #fff;
	font-size: 12px;
	height: 30px;
	line-height:30px;
	cursor: pointer;
}

textarea{
	overflow-y: auto;
	resize: none;
	padding:10px;
	box-sizing: border-box;
	outline: none;
	border:1px solid #ededed;
	line-height: 1.5;
}

.ad img{
	width: 100%;
}




/*header css*/
	header{
		width: 1200px;
		padding:10px 0 20px;
		box-sizing: border-box;
		margin:0 auto;
	}

	header .ad{
		width: 250px;
		display: inline-block;
	}

	header h1{
		height: 100%;
		display: inline-block; 
		margin-right: 0.5%;
	}

	header h1 img{
		width: 130px;
		float: left;
		margin-right: 5px;
		cursor:pointer;
	}

/*nav css*/
	nav{
		display: inline-block;
	}

	nav li{
		float: left;
		text-align: center;
		box-sizing: border-box;
		color: #5d5d5d;
		font-family:'Jeju Gothic', sans-serif; 
		
	}

	header nav li:nth-child(2n){
		width: 40px;
		line-height: 23px;
	}

	nav li a{
		padding:5px 0;
		display: inline-block;
		width: 100%;
	}

/*head_search css*/
	.head_search{
		width: 270px;
		box-sizing: border-box;
		border:2px solid #1c446d;
		float: right;
		margin-top: 19px;
	}

	.head_search input.form-control{
		width: 89%;
		height: 23px;
		border:0;
		outline: none;
		padding: 5px;
		box-sizing: border-box;
	}

	.head_search input.search_img{
		width: 10%;
		float: right;
	}

	.head_search input::-webkit-search-cancel-button{
		-webkit-appearance: none;
		appearance:none;
		width: 15px;
		height: 15px;
		background:url(../images/head_clear.png) no-repeat;
		background-size: 15px;
	}

	.head_search input::-ms-clear{
		-webkit-appearance: none;
		appearance:none;
		width: 15px;
		height: 15px;
		background:url(../images/head_clear.png) no-repeat;
		background-size: 15px;
	}

/*login(header 의 롤링텍스트 , 로그인 영역) css*/
	.login{
		width: 100%;
		height: 30px;
		background-color: #1c446d;
		margin-bottom: 20px;
	}

	.login_cont{
		width: 1200px;
		height: 30px;
		margin:0 auto;
	}

/*login_noice(header 의 롤링텍스트) css*/
	.login_noice{
		width: 500px;
		height: 30px;
		float: left;
	}

	.login_noice h5{
		width: 40px;
		height: 20px;
		background-color: #a61e23;
		text-align: center;
		line-height: 20px;
		color: #fff;
		border-radius: 5px;
		margin:5px 10px 5px 0;
		float: left;
		font-family:"Nanum Gothic", sans-serif; 
	}

	.login_noice .bx-wrapper{
		width: 450px;
		height: 30px;
		float: left;
	}

	.login_noice .bx-viewport{
		width: 420px !important;
		float: left;
	}

	.login_noice .bx-viewport li{
		height: 30px;
		line-height: 27px;
		color: #fff;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow:hidden;
		cursor: pointer;
	}

	.login_noice .bx-controls{
		width: 30px;
		height: 30px;
		float: right;
		text-align: center;
		line-height: 25px;
	}

	.login_noice .bx-default-pager{
		display: none;
	}

	.login_noice .bx-prev{
		color: #fff;
		line-height: 30px;
	}

	.login_noice .bx-next{
		display: none;
	}

/*login_list(header 의 로그인 리스트) css*/
	.login_list{
		height: 30px;
		float: right;
		color: #fff;
	}

	.login_list li{
		height: 30px;
		line-height:29px;
		float: left;
		text-align: center;
		letter-spacing: 1px;
		font-weight: bold;
	}

	.login_list li.enter{
		display: none;
	}

	.login_list li:nth-child(2n){
		margin:0 15px;
	}

	.login_list li img{
		margin:2px 5px 2px 0;
		float: left;
	}

	.login_list li figcaption{
		display: inline-block;
	}






/*ham css*/
/*	.ham{
		width: 320px;
		position: absolute;
		top: 0;
		bottom: 0;
		right:-320px;
		z-index: 500;
		border-left: 1px solid #ededed;
		background-color: #fff;
	}*/

	/*.ham > img{
		width: 30px;
		margin-top: 175px;
		cursor: pointer;
		position: absolute;
		left: -30px;
	}*/

/*ham_cont css*/
	.ham_cont{
		width: 300px;
		height: 100%;
		margin: 0 auto;
		box-sizing: border-box;
		background-color: #fff;
    	padding:20px 10px;
    }

	.info_menu{
        display: inline-block;
        width: 100%;
        border:1px solid #1c446d;
        margin-bottom: 20px;
		box-sizing: border-box;
    }

    .info_menu li{
        width: 50%;
        height: 30px;
        line-height:30px;
        float: left;
        box-sizing: border-box;
        text-align: center;
    }

    .info_menu li.active{
        background-color:#1c446d;
        color: #fff; 
    }

    .info_menu li h2{
        padding-left: 22px;
        display: inline-block;
    }

    .ham_cont span.small_font{
        margin-bottom: 20px;
        display: inline-block;
    }

/*ham_cont02 css*/
    .ham_cont02{
    	max-width: 420px;
    	height: 100%;
		/*padding:70px 10px;*/
		box-sizing: border-box;
		margin: 0 auto;
		text-align: center;
	}

	.ham_cont02 > h2{
		height: 45px;
		line-height: 45px;
		background-color: #1c446d;
		color: #fff;
		padding:0 15px;
		box-sizing: border-box;
		text-align: center;
		margin-bottom: 30px;
	}

	.ham_cont02 > span.small_font{
		padding:0 10px;
		box-sizing: border-box;
		margin-bottom: 20px;
        display: inline-block;
	}

/*ham_login*/
	.ham_login .login_notice{
		width: 100%;
		display: inline-block;
	}

	.ham_login .login_notice figure{
		text-align: center;
		margin-bottom: 30px;
	}

	.ham_login .login_notice figure img{
		margin-bottom: 10px;
	}

	.ham_login .login_notice h3{
		display: block;
		margin-bottom: 20px;
	}

	.ham_login ul li{
		padding:3%;
		border:1px solid #ededed;
		box-sizing: border-box;
		text-align: center;
	}

	.ham_login ul li figure{
		display: inline-block;
		height: 25px;
	}

	.ham_login ul li img{
		height: 25px;
		float: left;
		margin-right: 10px;
	}

	.ham_login ul li figcaption{
		display: inline-block;
		font-family: 'Jeju Gothic', sans-serif;
		height: 25px;
		line-height:32px;
		color:#585858;
	}

	.ham_login .login_notice p{
		font-family: 'Jeju Gothic', sans-serif;
	}

	.ham_login strong{
		margin-bottom: 30px;
		display: inline-block;
		width: 100%;
		text-align: center;
		font-weight:bold;
	}

	.ham_login p.nomal_font02{
		text-align: center;
		text-decoration: underline;
	}
	.ham_login button{
		width:100% !important;
		height:51px;
		font-size:18px;
	}

	






/*포인트 정보 css*/
	.point_info{
		overflow-y: auto;
	}
    .point_info_cont{
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }

    .point_info_cont > img{
        width: 70px;
        margin-right: 10px;
        float: left;
    }

    .point_info_cont .my_point{
        width: 200px;
        height: 32px;
		line-height:32px;
		text-align:justify;					 
        margin-bottom:8px;
        border-bottom:2px solid #000;
        display: inline-block;
        float: right;
    }

    .point_info_cont .my_point h3{
        /* display: block; */
    }

    .point_info_cont .my_point strong{
        color:#a61e23;
        float: right;
        display: inline-block;
        font-size: 17px;
        font-family: 'Jeju Gothic', sans-serif;
    }

    .point_info_cont .dis_point{
        width: 200px;
        height: 25px;
        float: right;
        border-bottom:1px solid #000;
    }

    .point_info_cont .dis_point > div{
        width: 87%;
        margin-right: 3%;
        float: left;
        height: 20px;
    }

    .point_info_cont .dis_point h3{
        float: left;
        line-height: 23px;
    }

    .point_info_cont .dis_point strong{
        float: right;
        font-family: 'Jeju Gothic', sans-serif;
        line-height: 23px;
    }

    .point_info_cont .dis_point > img{
        width: 20px;
        float: right;
    }

    .point_info .point_use_cont{
        width: 150px;
    }

    .point_info table{
        width: 100%;
        margin-bottom: 20px;
    }

    .point_info th{
        font-family:'Jeju Gothic', sans-serif; 
        background-color: #f0f3f7;
    }

    .point_info th:first-child,
    .point_info td:first-child{
    	width: 50px;
    	text-align: center;
    }

    .point_info th:nth-child(3),
    .point_info td:nth-child(3){
    	width: 85px;
	text-align:left;
    }

    .point_info th,
    .point_info td{
        border:1px solid #ededed;
        padding:10px 5px 5px;
        vertical-align: middle;
        line-height: 17px;
    }

    .point_info td figure{
        display: inline-block;
    }

    .point_info td figure img{
        float: left;
        margin-right: 5px;
    }

    .point_info td figcaption{
        display: inline-block;
        height: 18px;
        line-height: 21px;
        float:left;
        font-family:'Jeju Gothic', sans-serif; 
    }

/*user_info 사용자 정보*/
    .user_info table{
        width: 100%;
        margin-bottom: 20px;
    }

    .user_info th{
        font-family:'Jeju Gothic', sans-serif; 
        background-color: #f0f3f7;
        padding:10px 5px 5px;
    }

    .user_info th,
    .user_info td{
        text-align: center;
        vertical-align: middle;
        line-height: 17px;
        border:1px solid #ededed;
    }

    

    .user_info figure{
        height: 25px;
        display: inline-block;
    }

    .user_info img{
        width: 25px;
        margin-right: 5px;
        float: left;
    }

    .user_info figcaption{
        display: inline-block;
        height: 25px;
        line-height: 25px;
    }

    .info_btn button{
        width: 49%;
        margin-right: 2%;
        float: left;
        font-family: 'Jeju Gothic', sans-serif;
    }

    .info_btn li:last-child button{
        margin-right: 0;
    }

/*disapp_point 소멸예정 포인트 (팝업)css*/
    .disapp_point{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -200000000;
        display: none;
        background-color: #fff;
    }

    .disapp_point h2 span{
        width: 22px;
        display: inline-block;
        margin-top: 7px;
        float: right;
    }

    .disapp_point h2 span img{
        width: 100%;
    }

    .disapp_point table{
        width:299px ;
        margin: 0 10px;
    }

    .disapp_point th{
        font-family:'Jeju Gothic', sans-serif; 
        background-color: #f0f3f7;
        padding:10px 5px 5px;
    }

    .disapp_point th,
    .disapp_point td{
        border:1px solid #ededed;
        text-align: center;
        vertical-align: middle;
    }

    .disapp_point td strong{
        display: inline-block;
        height: 31px;
        line-height: 35px;
        font-family:'Jeju Gothic', sans-serif;
        color: #a61e23;
    }

    .disapp_point .point_notice{
        width: 299px;
        margin:0 10px 20px;
        border:1px solid #ededed;
        box-sizing: border-box;
        text-align: center; 
        padding:20px;
    }

    .disapp_point .point_notice h3{
        margin-bottom: 20px;
    }

    .disapp_point .point_notice strong{
        font-family:'Jeju Gothic', sans-serif;
        color: #a61e23;
    }

/*ham_out(회원탈퇴)*/
	.ham_out{
		padding-top:20px;
	}
	.ham_out h2{
		margin-bottom:20px;
	}
	.ham_out .logout_notice{
		width: 280px;
        margin:0 auto 20px;
        border:1px solid #ededed;
        padding:20px;
        box-sizing: border-box;
        text-align: center; 
	}

	.ham_out .logout_notice img{
		margin-bottom: 20px;
	}

	.ham_out .logout_notice h3{
		margin-bottom: 20px;
	}

	.ham_out .logout_notice strong{
		font-family:'Jeju Gothic', sans-serif;
        color: #a61e23;
	}

	.ham_out button{
     	width: 280px;
     	height: 40px;
     	font-family:'Jeju Gothic', sans-serif;
	}
	.ham_out .logout_notice p{
		line-height: 16px;
	}

/*메인메뉴 선택 css*/
	nav .menu_check{
 		/*border-bottom:5px solid #1c446d;*/
 		font-weight: bold;
 		color: #1c446d;
 	}

/*footer css*/
	footer{
		width: 100%;
		height: 100px;
		position: absolute;
		bottom: 0;
		background-color: #f7f7f7;
	}

	.footer{
		width: 1200px;
		height: 46px;
		margin: 27px auto;
	}

	.footer h1{
		margin-right: 15px;
		float: left;
	}

	.footer ul{
		width: 1025px;
		height: 23px;
		line-height: 23px;
		float: left;
	}

	.footer ul li{
		float: left;
	}

	.footer ul li:nth-child(2n){
		width: 50px;
		text-align: center;
	}

	.footer p{
		width: 1095px;
		height: 23px;
		line-height: 23px;
		font-weight: bold;
	}

	.footer p span{
		float: right;
		font-weight: bold;
		font-family: 'Jeju Gothic', sans-serif;
	}


