@charset "utf-8";
/* page */
/*새글 N 이미지*/
	#img_text{
		/*width: 15px;
		float: left;
		margin-right:5px; */
		vertical-align: middle;
	}

/*main*/
	.content01{
		width: 1200px;
		position: relative;
		margin:0 auto 40px;
	}

	.content01 > section{
		position: absolute;
	}

	/*main_top css*/
		.main_top{
			height:505px;
			margin-bottom:40px;
		}

	/*coin_mall css*/
		#coin_mall{
			width: 950px;
			top: 0;
			left: 0;
		}

		#coin_mall .menu_list li{
			/*width: 88px;*/
			border:0;
			padding:0px 10px;
			border-right: 1px solid #ededed;
		}

		#coin_mall .menu_list li:last-child{
			border-right: 0;
		}

		#coin_mall .menu_list figure{
			display: inline-block;
		}

		#coin_mall .menu_list figure img{
			float: left;
			margin-top: 7px;
			margin-right:5px; 
			width: 15px;
		}

		#coin_mall .menu_list figcaption{
			float: left;
		}

		#coin_mall .coin_title{
			width: 100%;
			line-height: 30px;
			font-weight: bold;
			text-align: center;
			border-bottom:1px solid #ededed;
		}

		#coin_mall .coin_cont{
			width: 100%;
			height: 270px;	
		}

		#coin_mall .coin_cont tr{
			border-bottom:1px solid #ededed;
		}

		#coin_mall .coin_cont tr:last-child{
			border-bottom:0;
		}

		#coin_mall .coin_cont tr:nth-child(2n+1){
			background: #fbfbfb;
		}

		#coin_mall .coin_cont td{
			vertical-align: middle;
			/*text-align: center;*/
		}

		#coin_mall .coin_cont td a{
			color: #000 !important;
		}

		#coin_mall .coin_cont .premium{
			font-family:'Jeju Gothic', sans-serif;
		}

		#coin_mall .coin_cont .rate{
			font-family:'Jeju Gothic', sans-serif;
		}

		#coin_mall .coin_cont .minus{
			color:#a61e23;
		}

		/*coin table width 값*/
			.coin_title th:nth-child(1),
			.coin_cont td:nth-child(1){
				width: 99px;
			}

			.coin_title th:nth-child(2){
				width: 130px; 
			}

			.coin_cont td:nth-child(2){
				width: 115px; 
				padding-right:15px;
			}

			.coin_title th:nth-child(3){
				width: 83px;

			}

			.coin_cont td:nth-child(3){
				width: 73px;
				padding-right:10px;
			}	

			.coin_title th:nth-child(4){
				width: 87px;
			}

			.coin_cont td:nth-child(4){
				width: 77px;
				padding-right:10px;
			}

			.coin_title th:nth-child(5){
				width: 90px;
			}

			.coin_cont td:nth-child(5){
				width: 70px;
				padding-right:20px;
			}

			.coin_title th:nth-child(6){
				width: 185px;
			}

			.coin_cont td:nth-child(6){
				width: 155px;
				padding-right:30px;
			}

			.coin_title th:nth-child(7){
				width: 148px;
			}

			.coin_cont td:nth-child(7){
				width: 118px;
				padding-right:30px;
			}

			.coin_title th:nth-child(8){
				width: 123px;
			}

			.coin_cont td:nth-child(8){
				width: 93px;
				padding-right:30px;
			}

	/*main_ad css*/
		.main_ad{
			width: 950px;
			height: 155px;
			bottom: 0;
		}

		.main_ad img{
			height: 100%;
			border:1px solid #ededed;
			box-sizing: border-box;
		}

	/*hot_text css*/
	 	#hot_text{
	 		width: 235px;
	 		height: 350px;
			bottom: 0;
			right:0;
	 	}

	 	#hot_text h2{
	 		margin-bottom: 10px;
	 	}

	/*hot_tab css*/
	 	.hot_tab{
	 		border:1px solid #ededed;
	 	}

	 	.hot_tab .hot_menu{
	 		height: 25px;
	 	}

	 	.hot_tab .hot_menu li{
	 		width: 77px;
	 		float: left;
	 		text-align: center;
	 		line-height: 24px;
	 		border-right:1px solid #ededed;
	 		border-bottom: 1px solid #ededed;
	 		box-sizing: border-box;
	 		background-color: #f0f3f7;
	 		font-family: 'Jeju Gothic', sans-serif; 
	 		cursor: pointer;
	 		font-size: 13px;
	 	}

	 	.hot_tab .hot_menu li:last-child{
	 		width: 79px;
	 		border-right: 0;
	 	}

	 	.hot_tab .hot_menu li.on{
	 		background-color: #fff;
	 		border-bottom: 0;
	 		color: #a61e23;
	 	}

	 	.hot_tab .hot_cont{
	 		height: 300px;
	 		padding: 10px;
	 		box-sizing: border-box;
	 	}

	/*hot_cont css*/
		.hot_cont li{
			margin-bottom: 9px;
		}

		.hot_cont li:last-child{
			margin-bottom: 0;
		}

		.hot_cont li > a > h4{
			width: 20px;
			height: 20px;
			margin-right: 5px;
			line-height: 22px;
			text-align: center;
			font-size:17px;
			float: left;
			color: #000;
		}

		.hot_cont li > a > h4 span{
			font-size: 12px;
		}

		.hot_cont li > a div{
			width:183px;
			height:20px;
			line-height: 20px;
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-size: 13px;
		}

	/*event css*/
	 	#event{
	 		width: 235px;
			top: 0;
			right:0;
	 	}

	 	#event img{
	 		border:1px solid #ededed; box-sizing:border-box;
	 	}



	 	#event .bx-wrapper {width:100%; position: relative; padding: 0; *zoom: 1;}
		#event .bx-wrapper img {max-width: 100%;  display: block; width: 100%;border:1px solid #ededed; box-sizing: border-box;}


		#event .bx-wrapper .bx-viewport {	/*fix other elements on the page moving (on Chrome)*/-webkit-transform: translatez(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform:translatez(0);transform: translatez(0);}
		#event .bx-wrapper .bx-viewport ul {margin:0px; padding:0px;}

		#event .bx-wrapper .bx-pager,
		#event .bx-wrapper .bx-controls-auto {position: absolute;	bottom: 10px;width: 100%;}

		#event .bx-wrapper .bx-loading {min-height: 50px;background: url(../images/bx_loader.gif) center center no-repeat #fff;height: 100%;	width: 100%;position: absolute;	top: 0;left: 0;	z-index: 2000;}

		#event .bx-wrapper .bx-pager {text-align: right; font-size: .85em;font-family: Arial;font-weight: bold;color: #ccc;padding-top: 20px; padding-right: 15px; box-sizing: border-box;}

		#event .bx-wrapper .bx-pager .bx-pager-item,
		#event .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;*zoom: 1;*display: inline;}

		#event .bx-wrapper .bx-pager.bx-default-pager a {background: #ccc;text-indent: -9999px;display: block;	width: 10px;height: 10px;margin: 0 5px;	outline: 0;	-moz-border-radius: 5px;-webkit-border-radius: 5px;	border-radius: 5px; color:transparent;}

		#event .bx-wrapper .bx-pager.bx-default-pager a:hover,
		#event .bx-wrapper .bx-pager.bx-default-pager a.active {background: #1c446d;}

		#event .bx-wrapper .bx-controls-direction a {display: none;}
		#event .bx-wrapper .bx-controls-direction a.disabled {	display: none;}


		#event .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {text-align: left;width: 80%;}
		#event .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {right: 0;width: 35px;}

	/*tab 메뉴(공통) css*/
		.tab{
			border:1px solid #ededed;
			box-sizing: border-box;
			display: inline-block;
		}

		.tab h2{
			height: 20px;
			line-height: 20px;
			padding:10px 15px;
			text-align: center;
		}

		.tab h2 span{
			float: right;
		}

		.tab h2 span img{
			cursor:pointer; 
		}

	/*menu_list css(메인의 tab)*/
		.menu_list{
			width: 100%;
			display: inline-block;
		}

		.menu_list li{
			height: 30px;
			line-height: 30px;
			text-align: center;
			background-color: #f0f3f7;
			border:1px solid #ededed;
			border-left: 0;
			box-sizing: border-box;
			color: #000;
			float: left;
			font-family: 'Jeju Gothic', sans-serif;
			cursor: pointer;
		}

		.menu_list li:last-child{
			border-right: 0;
		}

		.menu_list li.active{
			background-color: #fff;
			color:#a61e23;
			border-bottom:0;

		}

	/*tab_cont , tab_cont02 , tab_text , tab_img */
		.tab_cont{
			padding:15px;
			box-sizing: border-box;
		}

		.tab_text{
			width: 100%;
		}

		.tab_text td:first-child{
			width: 25px;

		}

		.tab_text td:nth-child(2){
			width: 275px;
		}

		.tab_text td:nth-child(3){
			/*width: 50px;*/
			text-align: right;
		}

		.tab_text td{
			height: 31px;
			line-height: 31px;
			/*display: inline-block;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;*/
			font-size: 13px;
			/*cursor: pointer;*/
		}

		.tab_img img{
			width: 112px;
			height: 120px;
			margin:0 10px 10px 0;
			cursor: pointer;
			border:1px solid #ededed;
			box-sizing: border-box;
			border-radius: 5px;
		}

		.tab_img td:nth-child(3) img{
			margin-right: 0;
		}

		.tab_img tr:last-child td img{
			margin-bottom:0;
		}

	/*main_mid01 css*/
		.main_mid01{
			height:423px;
			margin-bottom: 20px;
		}
		.main_mid01 > section{
			width: 390px;
			height: 100%;
		}

	/*news css*/
		#news .menu_list li{
	 		width: 50%;
	 	}

	 	#news figure{
	 		height: 100px;
	 		margin-bottom: 10px;
	 		cursor: pointer;
	 	}

	 	#news tr:last-child figure{
	 		margin-bottom:0;
	 	}

	 	#news figure > img{
	 		width: 147px;
	 		height: 100px;
	 		float: left;
	 		border:1px solid #ededed;
	 		box-sizing: border-box; 
	 		margin-right: 10px;
	 	}

	 	#news figcaption{
	 		width: 200px;
	 		height: 70px;
	 		float: left;
	 		margin:15px 0;
	 	}

	 	#news figcaption h3{
	 		width: 100%;
	 		text-overflow: ellipsis;
	 		white-space: nowrap;
	 		overflow: hidden;
	 		margin-bottom: 7px;
	 		/* padding-top: 3px; */
	 		line-height: 18px;
			font-weight: bold;
	 	}

	 	#news figcaption p{
	 		overflow:hidden;
	 		height:44px;
	 		display:-webkit-box;
	 		-webkit-line-clamp:3;
	 		-webkit-box-orient:vertical;
	 		line-height:15px;
	 		text-overflow:ellipsis; 
	 	}

	/*community css*/
		#community{
			margin: 0 auto;
			left: 0;
			right: 0;
		}

		#community .menu_list li{
			width: 25%;
		}

	/*coin_info css*/
	 	#coin_info{
	 		right:0;
	 	}

	 	#coin_info .menu_list li{
	 		width: 33.333%;
	 	}

	/*main_mid02 css*/
		.main_mid02{
			height:615px;
		}
		.main_mid02 > section{
			width: 390px;
			height: 100%;
		}

	/*service css*/
	 	#service{
			left: 0;
			right: 0;
	 	}

	 	#service .menu_list li{
				width: 50%;
		}

	/*webtoon css*/
	 	#webtoon{
			margin:0 auto;
			right: 0;
			left: 0; 
	 	}

	 	#webtoon .menu_list li{
			width: 33%;
		}

		#webtoon .menu_list li:first-child{
			width: 34%;
		}

		#webtoon .tab_img li{
			width: 112px;
			margin:0 10px 10px 0;
			float: left;
		}

		#webtoon .tab_img li:nth-child(3n){
			margin-right: 0px;
		}

		#webtoon .tab_img figure img{
			width: 100%;
			height: 100px;
			margin-bottom:5px;
			box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
		}

		#webtoon .tab_img figure figcaption{
			width: 100%;
			height: 57px;
			line-height: 15px;
			text-align: center;
			overflow:hidden;
			display:-webkit-box;
            -webkit-line-clamp:2;
            -webkit-box-orient:vertical;
		}

		#webtoon .tab_img figure h3{
			font-family:"Nanum Gothic", sans-serif ;
			margin-bottom: 2px;
			width: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			padding-top: 2px;
		}

		#webtoon .tab_img figure p{
			margin-bottom: 2px;
			color: #9d9d9d;

		}

		#webtoon .tab_img figure span{
			color: #2d75b5;
			font-size: 12px;
		}

	/*webtoon_seb css*/
	 .webtoon_sub li{
	 	width: 220px;
	 	float: left;
	 	margin-right: 25px;
	 	margin:0 25px 40px 0;
	 }

	 .webtoon_sub li:nth-child(5n){
	 	margin-right: 0;
	 }

	 .webtoon_sub li figure > img{
	 	width: 100%;
	 	height: 150px;
	 	margin-bottom: 15px;
	 	border:5px solid #fff;
	 	box-sizing: border-box;
	 	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
	 }

	 .webtoon_sub li figcaption{
	 	width: 100%;
	 	display: inline-block;
	 	padding:0 5px;
	 	box-sizing: border-box;
	 	text-align: center;
	 }

	 .webtoon_sub li figcaption h3{
	 	font-family: "Nanum Gothic", sans-serif;
	 	margin-bottom: 10px;
	 	width: 100%;
	 	height: 18px;
	 	text-overflow: ellipsis;
	 	white-space: nowrap;
	 	overflow: hidden;
	 	padding-top: 5px;
	 }

	.webtoon_sub li figcaption p{
	 	margin-bottom:5px;
	 	color: #9d9d9d;
	 }

	.webtoon_sub li figcaption span{
	 	color: #2d75b5;
	 	font-size: 12px;
	 }




	/*notice css*/
	 	#notice{
			right: 0;
	 	}

	 	#notice .menu_list li{
			width: 25%;
		}

	/*main_mid03 css*/
		.main_mid03{
			height: 125px;
		}

		.main_mid03 > section{
			width: 390px;
			height: 100%;
		}

	/*twit(트위터 의 공통) css*/
		.twit h2{
			margin-bottom: 10px;
		}
		.twit table{
			width: 100%;
		}
		.twit td{
			padding:10px;
			border:1px solid #ededed;
			text-align: center;
			cursor: pointer;
		}

	/*people_twit css*/
		#people_twit{
			left: 0;
		}

	/*coin_twit css*/
		#coin_twit{
			left: 0;
			right: 0;
			margin: 0 auto;
		}

	/*coin_store css*/
		#coin_store{
			right: 0;
		}

	/*pop css*/
		.pop{
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			z-index: 100;
			display: none;
		}

		.popup{
			background-color: #fff;
			overflow-y: auto;
			position: absolute;
			top: 150px;
			bottom:0;
			left: 0;
			right: 0;
			margin:0 auto;
			display: none;
		}

		.popup h4{
			width: 100%;
			height: 45px;
			line-height: 45px;
			background-color:#1c446d;
			color: #fff;
			text-align: center;
			position: relative;
		}

		.popup > span{
			position: absolute;
			top: 10px;
			left: 10px;
		}

	/*twit_pop css*/
		.twit_pop{
			width: 400px;
			height: 600px;
		}
		.twit_pop img{
			width: 25px;
			cursor: pointer;
		}

		.twit_pop table{
			width: 100%;
		}

		.twit_pop td{
			padding:10px;
			border-bottom:1px solid #ededed;
			box-sizing: border-box;
			line-height: 17px;
		}

		.twit_pop td:first-child{
			width: 10%;
			border-right: 1px solid #ededed;
			text-align: center;
		}

		.twit_pop td span{
			display: none;
			width: 30px;
			height: 17px;
			float: right;
			text-align: center;
			line-height: 17px;
		}

		.twit_pop .ftwitterlist{
			display: none;
		}

		.twit_pop .ftwitterlist input{
			width: 100%;
			height: 30px;
			padding: 0 10px;
			box-sizing: border-box;
			border:0;
			border-bottom:1px solid #ededed;
			outline: none;
		}

		.twit_pop ul{
			position: absolute;
			top: 10px;
			right:10px;
		}

		.twit_pop ul li{
			float: left;
		}

			.twit_pop ul li:first-child{
				margin-right: 5px;
			}

/*게시판*/
	.content02{
		width: 1200px;
		margin: 40px auto;
	}

	/*submenu css*/
		.submenu{
			width: 1200px;
			height: 30px;
			margin: 0 auto;
			text-align: center;
			border-bottom: 2px solid #4f4f51;
		}

		.submenu ul{
			display: inline-block;
			height: 100%;
		}

		.submenu li{
			width: 144px;
			height: 100%;
			float: left;
			text-align: center;
			font-size: 13px;
		}

		.submenu li:last-child{
			display: none;
		}

		.submenu li.menu_active{
			background: url(../images/menu_arrow.png) no-repeat bottom center;
		}

		.submenu li a{
			font-family: 'Jeju Gothic', sans-serif;
		}

		.submenu li.menu_active a{
			color:#a61e23;
		}

		.submenu li:nth-child(2n){
			width: 12px;
		}

	/*post_table*/
		.post_table{
			font-size: 14px;
			width: 100%;
			margin: 0 auto 40px;
			border-bottom:1px solid #ededed;
		}

		.post_table th{
			height: 30px;
			line-height: 30px;
			font-weight: bold;
			background: #f0f3f7;
		}

		.post_table td{
			height: 40px;
			vertical-align: middle;
			text-align: center;
		}

		/*번호*/
		.post_table .post_num{
			width: 60px;
		}

		/*제목*/
		.post_table .post_title{
			width: 945px;
		}

		.post_table .post_title .comment-count{
			font-weight: bold;
			color: #a61e23;
		}

		/*닉네임*/
		.post_table .spoon-img{
			width:135px;
			padding:0 10px;
			box-sizing: border-box;
		}

		.post_table td figure{
			width: 115px;
			display: inline-block;
			text-align: center;
		}

		.post_table td figure img{
			float: left;
		}

		.post_table td figcaption{
			height: 25px;
			line-height: 25px;
			text-align: left;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: inline-block;
		}

		/*날짜*/
		.post_table .post_data{
			width: 80px;
		}

		/*조회*/
		.post_table .post_click{
			width: 40px;
		}	


		.post_table > tbody > tr > td.success,
		.post_table > tbody > tr > th.success,
		.post_table > tbody > tr.success > td,
		.post_table > tbody > tr.success > th{
		  background-color: #dff0d8;
		}


		.table-hover > tbody > tr:hover > td,
		.table-hover > tbody > tr:hover > th {
		  background-color: #f5f5f5;
		}

	/*gallery_li(이미지 갤러리 & 동영상) css*/
		.gallery_li{
			padding-top:30px;
			box-sizing: border-box;
			display: inline-block;
		}
		.gallery_li ul{
			padding-bottom: 40px;
			box-sizing: border-box;
			display: inline-block;
		}

		.gallery-box{
			width: 210px;
			float: left;
			margin-right: 37px;
		}

		.gallery-box:nth-child(5n){
			margin-right: 0;
		}

		.gallery-box figure > img{
			width: 100%;
			height: 150px;
			margin-bottom: 15px;
			border:5px solid #fff;
			box-sizing: border-box;
			box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
		}

		.gallery-box figcaption{
			width: 100%;
			display: inline-block;
			padding: 0 5px;
			box-sizing: border-box;
		}

		.gallery-box h3{
			width: 100%;
			text-overflow: ellipsis;
			overflow:hidden;
			white-space: nowrap;
			padding:3px 0;
			margin-bottom: 10px;
		}

		.gallery-box p{
			display: inline-block;
			font-weight: bold;
			color: #5d5d5d;
			line-height: 25px;
		}

		.gallery-box p img{
			border:0;
			float: left;
			margin-right: 5px;
		}

		.gallery_li .img_data li span{
			width: 5px;
			display: inline-block;
			text-align: center;
		}

		.gallery_li li b{
			color:#a61e23;
			font-weight: bold; 
		}

		.gallery_li .img_writer{
			margin-bottom: 5px;
		}

	/*vod_li css*/
		.vod_li li h3{
			height:19px;
			line-height:20px;
		}

		.vod_li li h3 .highlight{
			font-weight: normal;
		}

	/*img_li css*/
		.img_li li h3{
			white-space: nowrap;
		}

	/*atten_write(출석체크) css*/
		.atten_write{
			width: 100%;
			height: 100px;
			margin-bottom:55px; 
			padding:15px 137px;
			box-sizing: border-box;
			background-color: #f0f3f7;
		}

		.atten_write label{
			width: 40px;
			height: 30px;
			line-height: 30px;
			font-weight: bold;
			margin:0 5px 20px 0;
			float: left;
		}

		.atten_write input{
			width: 765px;
			height: 30px;
			outline: none;
			padding:3px 7px;
			box-sizing: border-box;
			margin:0 5px 20px 0;
			border:1px solid #ededed;
			float: left;
		}

		.atten_write button{
			height: 30px;
			float: left;
			margin-bottom: 20px;
		}

		.atten_write p.point{
			margin-right: 0;
			background: none;
			color: #000;
			/*line-height: 45px;*/
			font-weight: bold;
			/*margin-left: 130px;*/
			padding: 0;
			text-align: right;
			letter-spacing: 1px;
			/*float: right;*/
			/*cursor: pointer;*/
		}

		.atten_write button.refresh{
			padding: 0;
			width: 30px;
			margin:0 5px 20px 0;
		}

		.atten_write button img{
			width: 30px;
			height: 30px;
		}

		/*atten_date(날짜) css*/
		.atten_date{
			width: 700px;
			text-align: center;
			margin: 0 auto 40px;
		}

		.atten_date h3{
			display: block;
			margin-bottom: 20px;
		}

		.atten_date table{
			width: 50%;
			margin:0 auto 40px;
		}

		.atten_date ul{
			display: inline-block;
		}

		.atten_date li{
			width: 25px;
			height: 25px;
			border:1px solid #ededed;
			margin:0 5px 10px 0;
			text-align: center;
			line-height: 25px;
			display: inline-block;
		}

		.atten_date li.active{
			background-color: #f0f3f7;
			font-weight: bold;
		}

		.atten_date li:last-child{
			margin-right: 0;
		}

		/*atten_list(출첵 리스트) css*/
		.atten_list{
			width: 1200px;
			margin:0 auto 60px; 
		}
		.atten_list  li{
			margin-bottom: 25px;
			display: inline-block;
		}

		.atten_list  li:last-child{
			margin-bottom: 0;
		}

		.atten_list figure > img{
			width: 65px;
			margin-right:10px;
		}

		.atten_list li figcaption{
			width: 1125px;
			height: 65px;
			padding: 10px;
			box-sizing: border-box;
			border:1px solid #ededed;
			float: right;
			position: relative;
		}

		.atten_list figcaption p{
			margin-bottom:15px;
			/*width: 890px;
			float: left;*/
		}

		.atten_list figcaption span{
			width: 45px;
			height: 27px;
			position: absolute;
			top: 5px;
			right: 10px;
		}

		.atten_list figcaption span > img{
			width: 100%;
		}

		.atten_list ul{
			float: right;
		}

		.atten_list ul > li{
			display: inline-block;
		}

		.atten_list ul > li:nth-child(2n){
			width: 30px;
			text-align: center;
		}

	/*point_pop(출석체크 포인트 정책) css*/


		/*.point_pop{
			width: 360px;
			height: 320px;
		}

		.point_pop span img{
			width: 25px;
		}

		.point_policy{
			width: 320px;
			margin:20px auto; 
		}

		.point_policy strong{
			width: 100%;
			display: inline-block;
			text-align: right;
			margin-bottom: 20px;
			letter-spacing: 1px;
			color: darkred;
			font-weight: bold;
		}

		.point_policy h3{
			margin-bottom: 20px;
		}

		.point_policy table{
			width: 100%;
			margin-bottom: 20px;
		}

		.point_policy table td{
			border:1px solid #ededed;
			text-align: center;
			padding:5px;
			vertical-align: middle;
		}

		.point_policy table td:first-child{
			width: 30%;
		}

		.point_policy table td img{
			width: 50px;
		}

		.point_policy p{
			text-align: right;
			letter-spacing: 1px;
			margin-bottom: 20px;
		}*/

	/*post_sear(검색) css */
		.post_sear{
			width: 570px;
			height: 30px;
			display: inline-block;
			margin-bottom: 40px;
		}


		.post_sear select{
			width:100px;
			height: 30px;
			margin-right: 5px;
			outline: none;
			float: left;
			border:1px solid #ededed;
		}

		.post_sear input{
			width: 430px;
			height: 30px;
			margin-right: 5px;
			outline: none;
			padding:3px 7px;
			border:1px solid #ededed;
			box-sizing: border-box;
			float: left;
		}

		.post_sear button{
			width: 30px;
			height: 30px;
			padding: 0;
			float: left;
		}

		.post_sear button img{
			width: 30px;
		}

		.post_sear input::-webkit-search-cancel-button{
			-webkit-appearance: none;
			appearance:none;
			width: 15px;
			height: 15px;
			background:url(../images/head_clear.png) no-repeat;
			background-size: 15px;
		}

		.post_sear input::-ms-clear{
			-webkit-appearance: none;
			appearance:none;
			width: 15px;
			height: 15px;
			background:url(../images/head_clear.png) no-repeat;
			background-size: 15px;
		}

	/*post_button(글쓰기 더보기 버튼 , 게시물 목록의) css*/
		.post_button{
			float: right;
			height: 30px;
			margin-bottom: 40px;
		}

		.post_button > a{
			line-height: 23px;
			margin:5px 5px 0 0;
			border-radius: 5px;
			background-color: #1c446d;
			color: #fff;
			height: 25px;
			cursor: pointer;
			display: inline-block;
			padding:1px 5px;
		}

		.post_button > a:last-child{
			margin-right: 0;
		}

	/*post_page(게시물 목록의 pager) css*/
		.post_page{
			text-align: center;
			width: 100%;
		}

		.post_page ul{
			display: inline-block;
			border:1px solid #ededed;
		}

		.post_page li{
			float: left;
			width: 30px;
			height: 30px;
			line-height: 29px;
			border-right: 1px solid #ededed;
			font-family: "Nanum Gothic", sans-serif;
		}

		.post_page li:last-child{
			border-right: 0;
		}

		.post_page li.page_active{
			background-color: #f0f3f7;
		}

		.post_page li a{
			padding:0;
		}

/*content 보여주기*/
	.content03{
		width: 100%;
		margin:40px auto;
		position: relative;
	}

/*content03 css*/

/*대메뉴 영역*/
		.content03 h4{
			width: 1200px;
			height: 30px;
			line-height: 35px;
			margin:0 auto;
			padding-left: 33px;
			box-sizing: border-box;
			background: url(../images/post_logo.png) no-repeat center left;
			background-size: 30px;
			margin-bottom: 20px;
			margin-top: 40px;
		}

		.content03 h4 span{
			margin-right: 10px;
		}

		.content03 > span{
			width: 100%;
			height: 60px;
			background-color: #f0f3f7;
			position: absolute;
			top: 121px;
			left: 0;
			z-index: -100;
			border-top: 1px solid #ededed;
			border-bottom: 1px solid #ededed;
		}

/*post_title(게시물 제목) css*/
		.post_title{
			width: 1150px;
			height: 60px;
			margin:0 auto;
		}

		.post_title h3{
			/*width: 780px;*/
			height: 60px;
			float: left;
			white-space:nowrap;
			text-overflow:ellipsis;
			overflow:hidden;
			font-size: 16px;
			font-weight: bold;
			line-height: 60px;
		}

		.post_title ul{
			height:30px;  
			float: right;
			padding-top:30px;		
		}

		.post_title li{
			height: 30px;
			line-height: 30px;
			float: left;
		}

		.post_title li.small_font{
			width: 30px;
			text-align:center;
		}

		.post_title li b{
			font-weight: bold;
		}

		.post_title li span{
			font-weight: bold;
			color: darkred;
			margin-left: 5px;
			display: inline-block;
		}

/*post_link css*/
		/*.post_link{
			border-bottom:1px solid #ededed;
		}*/

		.post_link p{
			width: 100%;
			margin:0 auto;
			font-weight: bold;
			line-height: 20px;
		}

/*post_area(게시물 컨텐츠) css*/
		.post_area{
			width: 1150px;
			margin:40px auto;
		}

		#post-content{
			font-size: 14px;
			line-height: 22px;
			word-break: break-all;
		}



/*post_view(게시물 컨텐츠의 이전글 다음글 목록) css*/
		.post_view{
			width: 1200px;
			margin: 0 auto 20px;
			text-align: right;
		}

		.post_view ul{
			display: inline-block;
		}

		.post_view li{
			float: left;
			text-align: center;
			color: #404040;
			font-weight: bold;
		}

		.post_view li.small_font{
			width: 30px;
		}

/*reply_list css*/
		.reply_list{
			width: 1200px;
			margin:0 auto;
		}

		.reply_list h2{
			margin-bottom: 10px;
		}

		.reply_list > ol > li{
			width: 100%;
			box-sizing:border-box;
			display: inline-block;
			margin-bottom: 20px;
		}

		/*reply_cont(작성된 댓글) css*/
			.reply_cont{
				width: 98%;
				display: inline-block;
				float: right;
			}

			.reply_cont figure{
				width: 95%;
				display: inline-block;
			}

			.reply_cont img{
				width: 59px;
				margin-right: 1%;
				vertical-align:top;
				float:left;
			}

			.reply_cont h3{
				margin-bottom: 10px;
				font-weight: bold;
			}

			.reply_cont figcaption{
				width: 92.5%;
				margin:5px 0;
				float: left;
			}

			.reply_cont ul{
				float: right;
			}

			.reply_cont li{
				float: left;
				color: #404040;
			}

			.reply_cont li:last-child{
				display: none;
			}

			.reply_cont li.small_font{
				width: 30px;
				text-align: center;
			}
			.reply_cont .comment-list{
				font-size: 14px;
				line-height: 20px;	
			}
		/*reply_modify(댓글수정) css*/
			.reply_modify{
				width: 100%;
				float: right;
				margin-top: 10px;
				margin-bottom: 30px;
			}

			.reply_modify textarea{
				width: 98%;
				height: 80px;
				margin-left: 2%;
				margin-bottom:10px;
			}

			.reply_modify button{
				margin-left: 2%;
			}

/*reply_write(댓글쓰기) css*/
		.reply_write{
			width: 1200px;
			margin:0 auto 40px;
		}

		.reply_write button{
			margin-left: 2%;
		}

		.reply_write textarea{
			width: 98%;
			height: 80px;
			margin-left: 2%;
			margin-bottom:10px;
		}

		.reply_write div.reply-div{
			float: right;
			height: 25px;
			line-height: 30px;
		}


.content04{
	width: 970px;
	margin: 40px auto;
}

/*post_reply css*/
	.post_reply{
		width: 1280px;
		margin: 0 auto 40px;
	}

/*content04(글쓰기) css*/
	.content04 h4{
		width: 100%;
		height: 30px;
		line-height: 35px;
		margin:0 auto;
		padding-left: 33px;
		box-sizing: border-box;
		background: url(../images/post_logo.png) no-repeat center left;
		background-size: 30px;
		margin-bottom: 20px;
	}

	.content04 h4 span{
		margin-right: 10px;
	}


	/*cont_write css*/
		.cont_write{
			width: 970px;
			margin:0 auto;
		}

		.cont_write table{
			width: 100%;
			margin-bottom: 20px;
		}

		.cont_write th{
			width: 100px;
			font-family: 'Jeju Gothic', sans-serif;
			background: #f0f3f7; 
		}

		.cont_write td{
			padding:10px;
		}

		.cont_write th,
		.cont_write td{
			border:1px solid #b5b5b5;
			height: 20px;
			vertical-align: middle;
		}

		.cont_write input{
			/*height: 20px;*/
			outline: none;
			border:1px solid #ededed; 
			padding:3px 5px;
		}

		.cont_write input[type='text']{
			width: 625px;
		}

		.cont_write span{
			float: right;
			height: 28px;
			line-height:36px;
			color: #a61e23;
			font-weight: bold;
		}

		.cont_write label{
			font-weight: bold;
		}

		.cont_write p{
			display: inline-block;
			float: left;
		}
		.cont_write .small_font{
			line-height:1.5;
		}
		.cont_write #post_title-error{
			margin-left: 15px;
		}

		.cont_write #post_content-error{
			margin:15px;
			display: inline-block; 
		}



		.link_li li,
		.upload_li li{
			display: inline-block;
			margin-bottom: 10px;
		}

		.link_li li:last-child,
		.upload_li li:last-child{
			margin-bottom: 0px;
		}

	/*option_li css*/
		.option_li li{
			display: inline-block;
			margin-right: 10px;
		}
		.option_li input{
			margin:0 5px 0 0px;
			float: left;
		}

		.option_li label{
			height: 20px;
			line-height: 17px;
		}

	/*link_li css*/
		.link_li li label{
			height: 28px;
			line-height: 28px;
			margin-right: 10px;
			display: inline-block;
		}

		.link_li li input{
			width: 655px;
		}	

	/*upload_btn css*/
		.upload_btn{
			width: 665px;
			height: 28px;
			position: relative;
			float: left;
			margin-right: 10px;
		}

		.upload_btn .file{
			width: 585px;
			background: #fff;
			position: absolute;
			left: 0;
		}

		.upload_btn input[type='file']{
			cursor: pointer;
			width: 49px;
			z-index: 100;
			opacity: 0;
			position: absolute;
			right: 0;
			overflow: hidden;
		}

		.upload_btn label{
			width: 60px;
			height: 28px;
			line-height: 27px;
			text-align: center;
			background:#1c446d;
			display: inline-block;
			color: #fff;
			border-radius: 5px;
			margin-right:0;
			/*z-index: -100;*/
			position: absolute;
			right: 0;
		}

	/*upload_clear css*/
		.upload_clear{
			float: right;
			margin-top: 8px;
		}

		.upload_clear input[type='checkbox']{
			float: left;
			margin: 0 5px 0 0; 
		}

		.upload_clear label{
			height: 20px;
			line-height: 17px;
		}

/* 스토어의 상품리스트 css */
	.store_list{
		display: inline-block;
	}
	.store_list li{
		width: 179px;
		margin:0 25px 40px 0;
		float: left;
	}

	.store_list li:nth-child(6n){
		margin-right: 0;
	}

	.store_list li img{
		width: 100%;
		border:1px solid #ededed;
		margin-bottom: 10px;
	}

	.store_list li h3{
		padding-top: 2px;
		margin-bottom:10px;
		display: block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		height: 15px;
		line-height:15px;
	}

	.store_list li strong{
		display: inline-block;
		width: 100%;
		color: #a61e23;
		font-weight: bold;
		font-family: 'Jeju Gothic', sans-serif;
		text-align:right;
	}

	.store_list li strong span{
		margin-right: 5px;
		font-weight: normal;
		color: #000;
	}

/* 스토어 상품구매 css*/
	.item_detail {
		width: 900px;
		margin:0 auto 40px;
		position: relative;
	}

	.item_detail img{
		width: 400px;
		border:1px solid #ededed;
		box-sizing: border-box;
	}

	.item_info{
		float: right;
		width: 450px;
		position: absolute;
		right: 0;
		bottom:0;
	}

	.item_info h2{
		font-size: 18px;
		margin-bottom: 35px;
	}

	.item_info ul{
		margin-bottom: 30px;
	}

	.item_info li{
		padding-bottom: 10px;
		border-bottom:1px solid #ededed;
		margin-bottom: 15px;
	}

	.item_info li:last-child{
		margin-bottom:0;
		border:0;
	}

	.item_info li p{
		font-size: 13px;
		float: right;
	}

	.item_info li strong,
	.item_info li b{
		color:#a61e23;
		font-family: 'Jeju Gothic', sans-serif;
		font-size: 17px;
		font-weight: normal;
	}

	.item_info li strong{
		float: right;

	}

	.item_info form input{
		width: 100%;
		height: 30px;
		padding:3px 5px;
		margin-bottom: 10px;
		box-sizing: border-box;
		outline: none;
	}

	.item_info form span{
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
		font-family: 'Jeju Gothic', sans-serif;
		color:#a61e23;
		display: inline-block;
		line-height: 17px;
	}

	.item_info form button{
		width: 100%;
		height: 40px;
		font-family: 'Jeju Gothic', sans-serif;
	}

	.item_explain{
		width: 900px;
		margin:0 auto;
	}

	.item_explain h2{
		margin-bottom:20px; 
	}

/*웹툰 서브 페이지*/
 	.toon_list{
        padding-top: 30px;
        display: inline-block;
    }
    .toon_list li{
        width: 190px;
        margin:0 28px 40px 0;
        float: left;
    }

    .toon_list li:nth-child(6n){
        margin-right: 0;
    }



    .toon_list li figure img{
        width: 100%;
        border:1px solid #ededed;
        margin-bottom: 20px;
    }

    .toon_list li figcaption h3{
        height:39px;
        display:-webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical;
        line-height:20px;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .toon_writer p{
        display: inline-block;
        font-weight: bold;
        color: #5d5d5d;
    }

    .toon_writer p img{
        border:0;
        width: 17px;
        float: left;
        margin-right: 5px;
    }

/*닉네임 설정 페이지*/
	.nick_name{
		width: 350px;
		height: 256px;
		margin:auto; 
		text-align: center;
		position: absolute;
		top: -130px;
		bottom:0;
		right: 0;
		left: 0;
	}

	.nick_name > img{
		width: 50%;
		margin-bottom: 15px;
	}

	.nick_name p{
		font-family: 'Jeju Gothic', sans-serif;
		margin-bottom: 30px;
		letter-spacing: 1px;
	}

	.nick_name form{
		width: 100%;
	}

	.nick_name form label.big_font{
		width: 30%;
		float: left;
		padding:10px 0 7px;
		box-sizing: border-box;
		border:1px solid #ededed;
		border-right: 0;
		display: inline-block;
		font-family: 'Jeju Gothic', sans-serif;
		background-color: #f0f3f7;
		margin-bottom: 15px;
	}

	.nick_name form #mem_nickname{
		width: 70%;
		float: right;
		border:1px solid #ededed;
		padding:9px 10px 8px;
		box-sizing: border-box;
		outline: none;
		margin-bottom: 15px;
	}

	.nick_name form .name_notice{
		display: inline-block;
		width: 100%;
		text-align: right;
		color: #a61e23;
		margin-bottom: 30px;
		font-family:'Jeju Gothic', sans-serif;
	}

	.nick_name form button{
		width: 100%;
		height: 40px;
		font-family:'Jeju Gothic', sans-serif; 
	}


/*welcome css*/
	.welcome{
		width: 350px;
		height: 256px;
		margin:auto; 
		text-align: center;
		position: absolute;
		top: -130px;
		bottom:0;
		right: 0;
		left: 0;
	}

	.welcome > img{
		width: 50%;
		margin-bottom: 20px;
	}

	.welcome p{
		font-family: 'Jeju Gothic', sans-serif;
		margin-bottom: 30px;
		letter-spacing: 1px;
		line-height: 20px;
	}

	.welcome button{
		width: 100%;
		height: 40px;
		font-family:'Jeju Gothic', sans-serif; 
	}

/*info_policy (개인정보취급방침) css*/
	.info_policy{
		border:1px solid #ededed;
		padding:20px;
		box-sizing: border-box;
		line-height: 20px;
	}
	.info_policy h3{
		margin-bottom: 20px;
	}
/*추가 css*/
	#comment_write_box{
		display: inline-block;
		width: 100%;
	}
	td.table_cont{
		text-align:left;
	}

	#side_menu {display: block;
		position:fixed;
		top:0;
		right:0;
		width:100%;
		height:100%;
		overflow:hidden;
		z-index:9999;
		margin:0;
		
		display:none}

	#side_menu .side_wr{width:320px;background:#fff;opacity:1;position:absolute;top:0;right:0;box-shadow:0 0 2px #000;overflow-x:hidden;height:100%;overflow-y:auto}
	#side_menu .side_wr.add_side_wr{}
	#side_menu .side_wr .side_inner_rel{position:relative;height:100%;display:block;overflow:hidden}
	#side_menu .side_wr .side_inner_abs{position: absolute;width:100%;display:block;-webkit-tap-highlight-color:rgba(0,0,0,0); width:100%; -webkit-transform:translateZ(0); -moz-transform:translateZ(0); -ms-transform:translateZ(0); -o-transform:translateZ(0); transform:translateZ(0); -webkit-touch-callout:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none; -o-text-size-adjust:none; text-size-adjust:none}
	#side_menu .side_wr{webkit-overflow-scrolling:touch}

	#side_menu .m_menu li{display: block;  line-height: 40px;border-top: 1px solid #323232; position:relative;padding-left: 20px; }
	#side_menu .m_menu li a:hover{color: #7080b1;}
	#side_menu .m_menu span{ position: absolute; right: 20px; top: 15px; } 

	



































	


	

	
	
	
	


