/**
	attendance skin css
*/

.wrapmemo {}
.wrapmemo input {width:400px;}

.attendance_box {background-color: #d9edf7;border: 1px solid #ddd;padding: 15px !important;border-radius: 3px;overflow: hidden;}
.date-navigation {text-align: center;padding-bottom: 15px; }
.date-navigation li{cursor:pointer;}

/*.date-navigation li:hover{background: #428bca;color: #fff;}*/

.selected-date {text-align:center;padding-bottom:10px;font-size:14px;}
.alert-point-policy {display:none; }

