@charset "utf-8";

/* .btn_nav nav밑 탭메뉴 */
.btn_nav{
	width:100%;
	height:39px;
	box-sizing:border-box;
	padding:9px 15px 0;
	margin-bottom:20px;
	text-align:justify;
	border-bottom:1px solid #ebebeb;
}
.btn_nav:after{
	content:'';
	display:inline-block;
	width:100%;
}
.btn_nav li{
	display:inline-block;
	box-sizing:border-box;
	/* padding: 0 1%; */
	border-bottom: 3px solid #fff;
	text-align:center;
	font-weight:bold;
}
.btn_nav li a{
	display:inline-block;
	width:100%;
	font-size:13px;
	color:#999;
	line-height:26px;
}
.btn_nav03{
	padding:9px 15% 0;
}
/* .btn_nav .selectBtn{
	border-bottom-color: #00a3d9;
} */
.btn_nav .selectBtn a{
	color: #1c446d;
	font-weight:bold;
	
}
/* 
.btn_nav04 li{
	width:24%;
}
.btn_nav05 li{
	width:19%;
} */

/* tab10 사진,영상 목록( 뉴스 강좌 ) */
.tab10{
	width:100%;
	box-sizing:border-box;
	
}
.tab10 .table-image{
	border:0;
}
.tab10_list{
	margin-bottom:0;
	background-color:#ebebeb;
	overflow:hidden;
}
.tab10_list li.gallery-box{
	padding-top:16px;
	background-color:#fff;
	margin-bottom:10px;
}

.tab10_list h4{
	width:100%;
	margin-bottom:10px;
	font-size:16px;
	font-weight:bold;
	line-height:22px;
	overflow:hidden;
	padding:0 15px;
	box-sizing:border-box;
}
.tab10_list h4 img{
	display:block;
	float:left;
}
.tab10_list h4 span.contents-title{
	display:block;
	height:36px;
	width:87%;
	line-height:36px;
	float:right;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.tab10_list div.contents-view{
	margin-bottom:14px;
	max-height:2.8571429em;
	padding:0 15px;
	clear:both;
	font-size:14px;
	line-height:1.4285714;
	text-overflow:ellipsis;
	overflow:hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap:break-word;
}
.tab10_list .gallery-box a>img{
	border-top:1px solid #ebebeb;
}
.tab10_listinfo{
	margin:0 15px 10px;
	float:right;
	
}
.tab10_listinfo td{
	padding:0 10px;
	border-right:1px solid #ccc;
	font-size:12px;
	color:#999;
}
.tab10_listinfo td.user_nick{
	color:#000;
	font-size:12px;
}
.tab10_listinfo td:last-child{
	padding-right:0;
	border-right:none;
}
.tab10_listinfo img{
	vertical-align:middle;
	margin-right:2px;
}
.tab10_listinfo i{
	font-size:15px;
}
.tab10_pic{
	width:100%;
	display:block;
	clear:right;
}
div.btn_more{
	width:100%;
	height:30px;
	margin:0;
	line-height:30px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	background-color: #f0f3f7;
	/* border-top:1px solid #ebebeb; */
	border-bottom:1px solid #ebebeb;
}

div.btn_more a{

	display:inline-block;
	height:100%;
	width:60%;
	color:#1c446d;

}
.tab10 .btn_more{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
/* backtop */


.fixed_btn_box{
	position:fixed;
	right:15px;
	bottom:20px;
	z-index:900;
}
.fixed_btn_box .btn{
	display:none;
	position:static;
	width:40px;
	height:40px;;
	margin-bottom:5px;
	border-radius:25px;
	box-sizing:border-box;
	padding:10px;
	background-color: #1c446d;
	box-shadow: 0 2px 3px rgba(0,0,0,0.4);
}
.fixed_btn_box .btn:last-child{
	margin-bottom:0;
}
.fixed_btn_box .btn img {
	width: 100%;
}
/* point */
.ham_cont02{
	padding: 0 15px;
}
.info_menu {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
	border-bottom:1px solid #ebebeb;
}
.info_menu li {
    width: 33.3333333%;
    height: 40px;
    float: left;
    box-sizing: border-box;
	border-bottom: 3px solid #fff;
    text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.info_menu li a{
	display:block;
	width: 100%;
	height:40px;
	line-height:37px;
}
.info_menu li.select_info_menu{
	border-bottom-color:#1c446d;
}
.point_info mb20 th{
	width:20%
	
}
/* 회원탈퇴 로그아웃 btn */
.info_btn li{
	width:49%;
	float:left;
	margin-right:2%;
}
.info_btn li:last-child{
	margin-right:0;
}
.info_btn button{
	width:100%;
}
/* 포인트정보 하단 nav */
.post_page{
	display:inline-block;
	text-align: center;
    width: 100%;
}
.post_page ul {
	width:100%;
    display: inline-block;
    border: 1px solid #ededed;
}
.post_page li {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 29px;
    border-right: 1px solid #ededed;
    font-family: "Nanum Gothic", sans-serif;
}
.post_page li.page_active {
    background-color: #f0f3f7;
}
/* 포인트 정책 */
.point_rule h4{
	margin-bottom:16px;
	font-size:14px;
	font-weight:bold;
}
.point_rule .point_rule_table th,
.point-rule .point_rule_table td{
	width:50%;
}
.point-rule .point_rule_table td{
	text-align:left;
}
/* wrap_con */
section.wrap_con{
	margin-bottom: 0;
}
/* 웹툰 카테고리 */
.category_toon{
	padding: 3%;
	/*margin-bottom: 10px;*/
	font-size: 14px;
	font-weight: bold;
}
/* hidden */
.hidden{
	width:1px;
	height:1px;
	position:absolute;
	overflow:hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
/* 출석체크 달력 */
.attend_check table.middle_font td:nth-child(2){
	width:54px;
	text-align:center;
}


/* media tablet */
@media screen and (min-width:581px){
	/* nav.main_nav_m */

	nav.main_nav_m ul{
		padding:0 7%;
	}
	nav.main_nav_m li{
		font-size:15px;
	}
	nav.main_nav_m li a{
		padding-top:10px;
	}
	/* 코인가격 거래소 리스트*/
	.tab01_tabs li{
		/* width: 10%; */
		/* padding: 0 2.3%; */
	}
	.tab01_tabs{
		font-size: 12px;
	}
	.tabs li{
		height: 30px;
		line-height: 30px;
		font-size: 12px;
	}
	#coin_data table td {
		padding: 5px 0;
		font-size: 13px;
	}
	.table_li table td {
    padding: 1.5%;
    font-size: 14px;
	}
	/* .tab10_list */
	.tab10_list h4 span.contents-title{
	width:92.5%;
	}
	.btn_nav04 li{
		width:24%;
	}
	.btn_nav05 li{
		width:19%;
	}
	/* 글쓰기 더보기 btn */
	.tab06_cont div.text-center{
			padding: 0 23%;
			margin-top: 12px;
	}
	/* 포인트정보 */
	.point_info_cont > img{
        width: 90px;
    }
	.point_info_cont .my_point{
        width: 83%;
        margin:10px 0 12px;
    }
	.point_info_cont .dis_point{
        width: 83%;
    }
	.point_info span.small_font{
        margin-bottom: 20px;
		font-size:12px;
    }
	.point_info_cont{
        margin-bottom: 20px;
    }
	.point_info table th:nth-child(3),
    .point_info table td:nth-child(3){
    	width: 25.5%;
    }
	/* login */
	.login .login_back{
		width:100px;
		position:absolute;
		margin-left:-50px;
		height:160px;
		background: url(../images/login_logo.png) no-repeat center top;
		background-size:100%;
	}
	
	.login ul{
		width: 380px;
		padding:0;
	}
	.login p:first-of-type{
		font-size:11px;
	}
	.login p:last-child{
		font-size:14px;
	}
	/* join */
	.event_link_m p a{
		width:380px;
		
	}
	.event_link_m p{
		padding:0;
		width:380px;
		margin:0 auto;
	}
	/* .search */
	div.search input{
		width:56%;
	}
	/* swiper */
	.tab01 .swiper-container {
		height: 30px;
    }
	.tab01 .noevent{
		height:30px;
	}
	.tab01 .noevent a{
		line-height:34px;
	}
	/* comment */
	.write_cont ol.post-view li div.comment-list{
		background-size: 2.4%;
	}
}
@media screen and (max-width:580px) and (min-width:431px){
	/* nav.main_nav_m */
	nav.main_nav_m li{
		font-size:14px;
	}
	nav.main_nav_m li a{
		padding-top:10px;
	}
	/* 코인가격 거래소 리스트*/
	.tab01_tabs li{
		/* width: 10%; */
		/* padding: 0 1.6%; */
	}
	.tab01_tabs{
		font-size: 12px;
	}
	.tabs li{
		height: 30px;
		line-height: 30px;
		font-size: 12px;
	}
	#coin_data table td {
		padding: 5px 0;
		font-size: 13px;
	}
	.table_li table td {
    padding: 1.5%;
    font-size: 14px;
	}
	/* .tab10_list */
	.tab10_list h4 span.contents-title{
	width:90%;
	}
	/* .btn_nav li{
		padding:4px 0;
	} */
	.btn_nav{
	padding:9px 9% 0;
	
	}
	.btn_nav03{
	padding:9px 15% 0;
	}
	/* 글쓰기 더보기 btn */
	.tab06_cont div.text-center{
			padding: 0 17%;
			margin-top: 12px;
	}
	/* 포인트정보 */
	.point_info_cont > img{
        width: 90px;
    }
	.point_info_cont .my_point{
        width: 77%;
        margin:10px 0 12px;
    }
	.point_info_cont .dis_point{
        width: 77%;
    }
	.point_info span.small_font{
        margin-bottom: 20px;
		font-size:12px;
    }
	.point_info_cont{
        margin-bottom: 20px;
    }
	/* .search */
	div.search input{
		width:55%;
	}
	/* swiper */
	.tab01 .swiper-container {
	height: 30px;
    }
	.tab01 .noevent{
		height:30px;
	}
	.tab01 .noevent a{
		line-height:34px;
	}
	/* comment */
	.write_cont ol.post-view li div.comment-list{
		background-size: 3%;
	}
}
